.grid {
     display: flex;
     flex-wrap: wrap;
     width: 560px;
     height: 560px;
     border: solid black;
     margin: auto;
}
h3 {
     text-align: center;
     text-transform: capitalize;
}
.grid div {
     width: 20px;
     height: 20px;
}
.pac-dot {
     background-color: green;
     box-sizing: border-box;
     border: 5px solid white;
}
.pac-man {
     background-color: yellow;
     border-radius: 10px;
}
.scared-ghost {
     background-color: aquamarine;
}
.wall {
     background-color: blue;
}
.power-pellet {
     background-color: green;
     border-radius: 10px;
}
.blinky {
     background-color: red;
}
.pinky {
     background-color: pink;
}
.inky {
     background-color: cyan;
}